:root {
    --main-bg-color: #2a2a2a;
    --main-text-color: #cacaca;
    --secondary-text-color: #8a8a8a;
    --burger-menu-color: #8a8a8a;
    --loader-bg-color: #1e1e1e;
    --loader-border-color: #333;
    --loader-border-top-color: #ccc;
    --marquee-bg-color: rgba(0, 0, 0, 0.3);
    --marquee-text-color: #dee1e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--loader-bg-color);
    z-index: 9999;
    transition: opacity 0.5s;
}

.loader-content {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--loader-border-color);
    border-top: 4px solid var(--loader-border-top-color);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: MontSerrat, Tahoma, Arial, sans-serif;
    background-color: var(--main-bg-color);
}

.container.loaded {
    animation: fadeIn 3s ease-in-out;
}

header {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 50;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404040;
    z-index: 50;
    padding-top: 5rem;
}

.overlay a {
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    text-align: center;
    text-decoration: none;
    max-width: 800px;
}

.overlay a span {
    color: #9f9f9f;
    font-size: 1.2em;
    width: 100%;
    padding: 2rem;
    background: #363636;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .overlay a span {
        font-size: 1em;
        padding: 1rem;
    }
}


#page-content {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}

#page-content h2 {
    padding: 150px 5.5rem 0 5.5rem;
    color: var(--main-text-color);
    font-size: 1.8em;
    line-height: 1.7em;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#description {
    color: #BDBDBD;
    line-height: 1.95em;
    font-weight: 400;
    max-width: 890px;
    margin: 0 auto;
    height: 20vh;
    overflow: hidden;
}

footer {
    background-color: var(--main-bg-color);
    padding: 10px 0;
    text-align: center;
    color: var(--secondary-text-color);
}

.burger-menu {
    cursor: pointer;
    position: fixed;
    right: 83px;
    top: 35px;
    z-index: 9998;
    cursor: pointer;
    padding: 5px 4px;
    background-color: transparent;
    z-index: 100;
}

.burger-menu div {
    width: 42px;
    height: 2px;
    background-color: var(--burger-menu-color);
    margin: 8px 0;
    transition: 0.4s;
}

.marquee-container {
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#about {
    background-color: var(--main-bg-color);
    padding: 20px;
    color: var(--secondary-text-color);
    text-align: center;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee-reverse {
    animation: marquee-reverse 10s linear infinite;
}

.marquee-tag {
    background-color: var(--marquee-bg-color);
    border-radius: 1rem;
    color: var(--marquee-text-color);
    float: left;
    font-size: 1rem;
    min-width: fit-content;
    opacity: 0.8;
    padding: 0.75rem 1.5rem;
    transition: color 0.5s;
    width: 50%;
    margin: 0 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    top: 8rem;
}

.bar {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    z-index: 10;
}

.screen {
    position: relative;
    display: block;
    z-index: 10;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
    text-decoration: none;
}

.bar i,
.bar i::before,
.bar i::after {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}

.bar i::before {
    content: " ";
    left: 16px;
    background-color: #ffbd2e;
    top: 0;
}

.bar i::after {
    content: " ";
    left: 32px;
    background-color: #28ca41;
    top: 0;
}

.bar h2 {
    content: attr(data-text);
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-family: MontSerrat, Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.5px;
    color: #8a8a8a;
}

.project-list .main {
    background-size: cover;
    padding-top: 58%;
    position: relative;
    background-position: center center;
    display: block;
    width: 100%;
    border-radius: 0;
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.project-list .main:before {
    content: "";
    position: absolute;
    z-index: 20;
    box-shadow: 0 0 50px rgba(0, 0, 0, .75) inset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    max-width: 880px;
    margin: 0 auto;
}

.item {
    position: relative;
    display: block;
    padding: 1.2em;
    width: 50%;
}

#portfolio-title {
    color: #cacaca;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0.1em;
    text-transform: lowercase;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10%);
    }
}

@media (max-width: 768px) {
    .burger-menu {
        right: 30px;
        top: 15px;
    }

    #page-content h2 {
        padding: 150px 3.5rem 0 3.5rem;
    }
}